.box-container-about {
  background-color: var(--background-color);
  text-align: start;
  display: block;
  margin: 20px auto;
  max-width: 1000px;
  box-shadow: 5px 5px 20px rgb(92, 0, 15);
}
.about-container {
  padding: 0;
  margin: 0 auto;
}

.header-bg-container {
  padding: 0;
}
.header-image {
  filter: contrast(120%);
  transition: all 300ms ease-in-out;
}

.header-image:hover {
  filter: contrast(150%);
  transition: filter 3s;
}

.rows-about h3 {
  text-align: left;
  color: var(--primary-color);
}

.rows-about h2 {
  text-align: left;
}

.rows-about p {
  font-weight: 100;
  color: white;
  background: rgb(134, 23, 15);
  padding: 5px;
  border-radius: 12px;
}

.about-images {
  max-width: 450px;
  box-shadow: var(--shadow-box);
  border-radius: 20px;
  background: rgb(134, 23, 15);
  transition: all 200ms ease-in-out;
}

.about-images:hover {
  transition: all 200ms ease-in-out;
  transform: scale(110%);
}

section p {
  font-weight: 100;
  color: rgb(255, 255, 255);
  background: rgb(134, 23, 15);
  padding: 5px;
  border-radius: 12px;
}

section img {
  box-shadow: var(--shadow-box);
  border-radius: 5px;
}

@media (max-width: 700px) {
  .about-images {
    display: none;
  }

  .rows-about h2 {
    text-align: center;
  }

  .rows-about h3 {
    text-align: center;
  }
}
