img {
  max-width: 250px;
  text-align: center;
  display: block;
  margin: 0 auto;
}

.container-galery {
  background-color: black;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1%;
}

.images-container {
  padding: 0 auto;
  display: block;
  margin: 0 auto;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}
