

img {
  max-width: 200px;
  text-align: center;
  display: block;
  margin: 0 auto;
}

.container-galery {
  background-color: var(--background-color);
  text-align: start;
  display: block;
  margin: 20px auto;
  max-width: 1000px;
  box-shadow: 5px 5px 20px rgb(92, 0, 15);
}

.images-container {
  padding: 0 auto;
  display: block;
  margin: 0 auto;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}

@media (max-width: 700px) {
  .images-container {
    display: grid;
    grid-template-columns: 1fr;
  }

  li {
    font-size: 5px;
  }
}
