.container-resume {
  background-color: var(--background-color);
  text-align: start;
  display: block;
  margin: 20px auto;
  max-width: 1000px;
  box-shadow: 5px 5px 20px rgb(92, 0, 15);
}
header {
  box-shadow: 0px 5px 15px var(--primary-color);
}
h2 {
  color: rgb(192, 0, 0);
}

button {
  text-decoration: none;
  color: white;
  background-color: var(--primary-color);
  font-weight: 500;
  border: 10px solid var(--primary-color);
  border-radius: 5px;
  box-shadow: var(--shadow-box);
  transition: transform 0.3s, background-color 0.3s, color 0.3s;
}

button:hover {
  transform: translateY(-5px);
}
.printer {
  text-align: center;
}

.printer a {
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: var(--primary-color);
  font-weight: 500;
  border: 10px solid var(--primary-color);
  border-radius: 5px;
  box-shadow: var(--shadow-box);
  transition: transform 0.3s, background-color 0.3s, color 0.3s;
}

.printer a:hover {
  transition: all 200ms ease-in-out;
  background-color: rgb(143, 12, 56);
  border: 10px solid rgb(143, 12, 56);
}

.info-resume {
  text-align: start;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 40px 0px 0px 40px;
}
.resume-list h2 {
  text-decoration: overline;
}
.info-resume ul {
  list-style: none;
}
.resume-list {
  color: white;
  line-height: 30px;
  padding: 0;
}

.access-p {
  text-align: center;
  color: white;
}
