:root {
  --primary-color: rgb(169, 4, 4);
  --shadow-box: 2px 2px 20px rgb(22, 22, 22);
  --background-color: #161616;
  --gradiant-transition: linear-gradient(
    110.5deg,
    rgba(248, 196, 249, 0.66) 22.8%,
    rgba(253, 122, 4, 0.15) 64.6%
  );
}

body {
  transition: all 200ms ease-in-out;
  background: linear-gradient(
    109.6deg,
    rgb(0, 0, 0) 11.2%,
    rgb(58, 0, 0) 100.3%
  );
  background-position: left;
  background-size: 350%;
  transition: background-position 1s;
}

.color-theme {
  background-position: right;
}

nav .nav-link {
  color: var(--primary-color);
  text-decoration: none;
}

nav {
  box-shadow: #020202;
  background: #161616;
}

nav .nav-link:hover {
  color: rgb(255, 0, 43);
}

nav .navbar-toggler {
  background-color: var(--primary-color);
}

header h5 {
  color: var(--primary-color);
}

header img {
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: var(--shadow-box);
}

header a {
  color: rgb(255, 236, 236);
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
}

header a:hover {
  transition: all 200ms eas;
  color: rgb(255, 255, 255);
}

header button {
  text-decoration: none;
  color: white;
  background-color: var(--primary-color);
  font-weight: 500;
  border: 10px solid var(--primary-color);
  border-radius: 5px;
  box-shadow: var(--shadow-box);
  transition: transform 0.3s, background-color 0.3s, color 0.3s;
}

header button:hover {
  transform: translateY(-10px);
}

footer {
  background-color: #161616;
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;

  color: white;
  padding: 20px;
  font-weight: 100;
  line-height: 50px;
  font-size: 20px;
}

footer a {
  color: var(--primary-color);
}

footer a:hover {
  transition: all 200ms ease-in-out;
  color: pink;
}

.header-bg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)),
    url("/images/bggg.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 70%;

  color: white;
  padding: 150px 0;
  font-weight: 100;
  line-height: 50px;
}

.bg-hone {
  margin: 0px 0px 0px 90px;
  font-size: 80px;
}
.bg-htwo {
  margin: 0px 0px 0px 90px;
  font-size: 40px;
  color: red;
}

.header-bg-container {
  padding: 0;
  background-color: black;
}

.specifications-container {
  padding: 1%;
  margin: 0 auto;
  background-color: rgb(103, 3, 3);
  color: grey;
}

.specifications-container h4 {
  font-size: 30px;
}

.specifications-container li {
  padding: 5px;
}

.index-info-container {
  padding: 0% 5%;
}
.list {
  text-align: start;
  list-style: none;
}
.list li {
  margin: 15px auto;
}
.list i {
  font-size: 50px;
}
.list span {
  font-size: 30px;
  font-weight: 500;
}
.container {
  max-width: 1000px;
  padding: 0;
  margin: 0 auto;
  background-color: var(--background-color);
  box-shadow: 1px 1px 20px rgb(170, 0, 0);
}
.headingbar {
  background-color: rgb(255, 255, 255);
  padding: 0.5%;
  text-align: center;
}

.main-title {
  border-radius: 10px;
  padding: 2%;
}

.main-title h1 {
  transition: all 200ms ease-in-out;
  text-shadow: 15px 5px 20px red;
}

.main-title h1:hover {
  transition: all 200ms ease-in-out;
  color: var(--primary-color);
}

.icons-container {
  display: flex;
  justify-content: center;
}

.contact i {
  background-color: var(--primary-color);
  border-radius: 120px;
  color: pink;
  font-size: 15px;
  padding: 5px 10px;
  margin: 0 20px;
  box-shadow: var(--shadow-box);
}

.icons:hover {
  transition: all 200ms ease-in-out;
  background-color: pink;
}

.icons-container a:hover {
  color: black;
  transition: 200ms all ease-in-out;
}

.icons-main-container .icons {
  background-color: var(--primary-color);
  border-radius: 120px;
  color: pink;
  font-size: 30px;
  padding: 5px 20px;
  margin: 0 10px;
  box-shadow: var(--shadow-box);
  transition: 200ms all ease-in-out;
}

.icons-main-container .icons:hover {
  background-color: pink;
  color: rgb(0, 0, 0);
  transition: 200ms all ease-in-out;
}

@media (max-width: 700px) {
  header img {
    border-radius: 300px;
  }
  .list i {
    font-size: 30px;
  }
  .list span {
    font-size: 15px;
    font-weight: 500;
  }
  .bg-hone {
    font-size: 40px;
    padding: 0 auto;
    margin: 0;
  }
  .bg-htwo {
    font-size: 35px;
    margin: 0;
    padding: 0;
  }

  .contact {
    display: grid;
    grid-template-columns: 1fr;
  }

  .specifications-container li {
    font-size: 15px;
    padding: 5px;
  }

  .madeby p {
    font-size: 15px;
  }
}
