:root {
  --primary-color: rgb(255, 100, 155);
  --shadow-box: 2px 2px 20px rgb(22, 22, 22);
  --background-color: #2b3035;
  --gradiant-transition: linear-gradient(
    110.5deg,
    rgba(248, 196, 249, 0.66) 22.8%,
    rgba(253, 122, 4, 0.15) 64.6%
  );
}

body {
  transition: all 200ms ease-in-out;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(248, 219, 219) 0%,
    rgb(229, 248, 250) 90%
  );
  background-position: left;
  background-size: 250%;
  transition: background-position 1s;
}

.color-theme {
  background-position: right;
}

.index-video {
  box-shadow: 1px 1px 20px rgb(93, 93, 93);
}

.index-info-container {
  padding: 0% 5%;
}

.container {
  background-color: var(--background-color);
  box-shadow: 1px 1px 20px rgb(67, 67, 67);
}
.headingbar {
  background-color: rgb(255, 255, 255);
  padding: 0.5%;
  text-align: center;
}
nav .nav-link {
  color: var(--primary-color);
  text-decoration: none;
}

nav .nav-link:hover {
  color: pink;
}

nav .navbar-toggler {
  background-color: var(--primary-color);
}

header h4 {
  color: rgb(255, 100, 155);
}

header img {
  border-radius: 10px;
  box-shadow: var(--shadow-box);
}

header a {
  color: rgb(255, 236, 236);
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
}

header a:hover {
  transition: all 200ms eas;
  color: rgb(255, 255, 255);
}

header button {
  text-decoration: none;
  color: white;
  background-color: var(--primary-color);
  font-weight: 500;
  border: 10px solid var(--primary-color);
  border-radius: 5px;
  box-shadow: var(--shadow-box);
  transition: transform 0.3s, background-color 0.3s, color 0.3s;
}

header button:hover {
  transform: translateY(-10px);
}

footer a {
  color: var(--primary-color);
}

footer a:hover {
  transition: all 200ms ease-in-out;
  color: pink;
}

/*Project Page*/

.box-container {
  text-align: center;
  padding: 0% 5%;
  color: white;
}

.container-about {
  background-color: var(--background-color);
  box-shadow: 1px 1px 5px rgb(67, 67, 67);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: var(--shadow-box);
}

.container-about:hover {
  filter: brightness(200%);
  transition: filter 3s;
}

.main-title {
  border-radius: 10px;
  padding: 2%;
}

.main-title h1 {
  transition: all 200ms ease-in-out;
  text-shadow: 15px 5px 20px var(--primary-color);
}

.main-title h1:hover {
  transition: all 200ms ease-in-out;
  color: var(--primary-color);
}

.projects-container {
  padding: 0% 5%;
  background-color: var(--background-color);
  border: 3px solid pink;
  box-shadow: 1px 1px 20px pink;
}

.img-page {
  margin: 0;
}

.img-page button {
  text-decoration: none;
  color: white;
  background-color: var(--primary-color);
  font-weight: 500;
  border: 10px solid var(--primary-color);
  border-radius: 5px;
  box-shadow: var(--shadow-box);
  transition: transform 0.3s, background-color 0.3s, color 0.3s;
}

.img-page button:hover {
  transform: translateY(-10px);
}

.img-page img {
  border-radius: 20px;
  box-shadow: var(--shadow-box);
}

.img-page img:hover {
  filter: brightness(1.2);
  transition: filter 1s;
}

.img-page h6 {
  color: aliceblue;
}

/*Contact*/
video {
  box-shadow: 1px 1px 20px rgb(82, 82, 82);
}

.margin-data {
  margin: 0 auto;
}
.main--container {
  padding: 0% 10%;
}

.be-in-touch {
  margin: 0;
  background-color: var(--primary-color);
  border-radius: 10px;
  box-shadow: 2px 2px 20px rgb(22, 22, 22);
}
.contact-main-container {
  padding: 0% 2%;
  background-color: var(--background-color);
  border: 3px solid pink;
  box-shadow: 1px 1px 20px pink;
}

.icons-container {
  display: flex;
  justify-content: center;
}

.icons {
  background-color: var(--primary-color);
  border-radius: 120px;
  color: pink;
  font-size: 15px;
  padding: 5px 10px;
  margin: 0 20px;
  box-shadow: var(--shadow-box);
}

.icons:hover {
  transition: all 200ms ease-in-out;
  background-color: pink;
}

.icons-container a:hover {
  color: black;
  transition: 200ms all ease-in-out;
}

.icons-main-container .icons {
  background-color: var(--primary-color);
  border-radius: 120px;
  color: pink;
  font-size: 15px;
  padding: 5px 10px;
  margin: 0 20px;
  box-shadow: var(--shadow-box);
}

.icons-main-container .icons:hover {
  background-color: pink;
  color: rgb(0, 0, 0);
  transition: 200ms all ease-in-out;
}

.info-contact {
  margin: 0 auto;
  background-color: rgb(63, 63, 63);
  border-radius: 20px;
  box-shadow: var(--shadow-box);
}

.info-contact a {
  color: aquamarine;
  font-size: 22px;
}

.info-contact a:hover {
  transition: all 200ms ease-in-out;
  color: rgb(255, 255, 255);
}

.info-contact h3 {
  color: var(--primary-color);
}

.info-contact h4 {
  color: white;
}

.form-container {
  padding: 0% 20%;
}

form button {
  text-decoration: none;
  color: white;
  background-color: var(--primary-color);
  font-weight: 500;
  border: 10px solid var(--primary-color);
  border-radius: 5px;
  box-shadow: 2px 2px 10px rgb(56, 56, 56);
  transition: transform 0.3s, background-color 0.3s, color 0.3s;
  width: 200px;
  margin: 10px auto;
}

form button:hover {
  transform: translateY(-10px);
}

/*About*/
.about-container {
  margin: 0 auto;
  padding: 0 auto;

  background-color: var(--background-color);
  border: 3px solid pink;
  box-shadow: 1px 1px 20px pink;
}
.header-image {
  filter: contrast(120%);
  transition: all 300ms ease-in-out;
}

.header-image:hover {
  filter: contrast(150%);
  transition: filter 3s;
}

.rows-about h3 {
  text-align: left;
  color: var(--primary-color);
}

.rows-about h2 {
  text-align: left;
}

.rows-about p {
  color: var(--background-color);
  background: pink;
  padding: 5px;
  border-radius: 12px;
}

.about-images {
  width: 600px;
  box-shadow: var(--shadow-box);
  border-radius: 20px;
  background-color: pink;
  transition: all 200ms ease-in-out;
}

.about-images:hover {
  transition: all 200ms ease-in-out;
  transform: scale(110%);
}

section p {
  color: var(--background-color);
  background: pink;
  padding: 5px;
  border-radius: 12px;
}

section img {
  box-shadow: var(--shadow-box);
  border-radius: 5px;
}

@media (max-width: 700px) {
  .about-images {
    display: none;
  }

  .rows-about h2 {
    text-align: center;
  }

  .rows-about h3 {
    text-align: center;
  }
}
